#container .tab {
    background: #ccc;
}

#container .content {
    width: 50%;
    height: 100px;
    background: #ccc;
    display: none;
}

#container .active .tab {
    background: orange;
}

#container .active .content {
    display: block;
    margin-bottom: 10px;
}