body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#content {
    width: 100%;
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.form-advanced {
    width: 100%;
    /*background: gray;*/
}

#head-form-panel {
    height: 60px;
    width: 100%;
    /*background: blue;*/
    padding-right: 10px;
    /*padding-left: 10px;*/
    box-sizing: border-box;
    margin-bottom: 10px;
}

#head-form-panel .tab {
    height: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    margin-right: 10px;
    background: #2184BE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#content-form-panel {
    background: #EEEEEE;
    padding: 10px;
    padding-bottom: 100px;
    border-radius: 4px;
}

fieldset {
    border: 0px;
}

legend {
    width: 100%;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

fieldset label, input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

fieldset input {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.frm {
    display: none;
}

.warning-content {
    display: none;
}

.btn-frm-advanced {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}

.btn-frm-advanced button {
    margin-left: 5px;
    padding: 7px;
    font-size: 18px;
    background: #2184be;
    border: 1px solid #2184be;
    cursor: pointer;
    border-radius: 4px;
}
