body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#container {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}

#box {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

#box p {
    text-align: left;
    margin: 0 10px 10px;
}

#box .btn {
    border: 1px solid black;
    background: white;
    width: 100px;
    height: 30px;
}

#txt {
    margin: 20px;
    text-align: center;
}